TouristGuide/TouristGuide.WP7/Service References/WPService/WPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4336/WPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TouristGuide.Core.Models" />
  <xs:element name="GetAttractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttractionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TouristGuide.Core.Models" minOccurs="0" name="GetAttractionsResult" nillable="true" type="q1:ArrayOfAttraction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAttractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAttractionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TouristGuide.Core.Models" minOccurs="0" name="SearchAttractionsResult" nillable="true" type="q2:ArrayOfAttraction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttractionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttractionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TouristGuide.Core.Models" minOccurs="0" name="GetAttractionByIdResult" nillable="true" type="q3:Attraction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>