TouristGuide-PWr/TouristGuide.WP7/Service References/WPService/WPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4336/WPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4336/WPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4336/WPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TouristGuide.Core.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWPService_GetAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttractions" />
  </wsdl:message>
  <wsdl:message name="IWPService_GetAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWPService_SearchAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAttractions" />
  </wsdl:message>
  <wsdl:message name="IWPService_SearchAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAttractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWPService_GetAttractionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttractionById" />
  </wsdl:message>
  <wsdl:message name="IWPService_GetAttractionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttractionByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IWPService">
    <wsdl:operation name="GetAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPService/GetAttractions" message="tns:IWPService_GetAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPService/GetAttractionsResponse" message="tns:IWPService_GetAttractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPService/SearchAttractions" message="tns:IWPService_SearchAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPService/SearchAttractionsResponse" message="tns:IWPService_SearchAttractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttractionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPService/GetAttractionById" message="tns:IWPService_GetAttractionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPService/GetAttractionByIdResponse" message="tns:IWPService_GetAttractionById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWPService" type="tns:IWPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAttractions">
      <soap:operation soapAction="http://tempuri.org/IWPService/GetAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttractions">
      <soap:operation soapAction="http://tempuri.org/IWPService/SearchAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttractionById">
      <soap:operation soapAction="http://tempuri.org/IWPService/GetAttractionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WPService">
    <wsdl:port name="BasicHttpBinding_IWPService" binding="tns:BasicHttpBinding_IWPService">
      <soap:address location="http://localhost:4336/WPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>